.{
    text-align: center;
    margin: 0 auto;
}

h1{
    font-family: 'Fira code', serif;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    padding: 5px;
    color: #2a237d;
}

.container {
    display: flex;
    justify-content: space-between;
  }
